

<mat-toolbar color="primary" fullscreen>
  <mat-toolbar-row>
    <h1 style="font-size: 32px;">HN Feed</h1>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <p style="font-size: 19px;">We &#60;3 hacker news!</p>
  </mat-toolbar-row>
</mat-toolbar>




<mat-card style="border: 1px; border-color: #ccc;">
<!--   <mat-expansion-panel>
    <mat-expansion-panel-header>
      This is the expansion title
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      Some deferred content
    </ng-template>
  </mat-expansion-panel> -->



  <app-hits-list></app-hits-list>



</mat-card>