@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
    md-toolbar {
      min-height: 56px; }
    .md-toolbar-tools {
      height: 56px;
      max-height: 56px; } }
  
  @media (min-width: 0) and (max-width: 959px) and (orientation: landscape) {
    md-toolbar {
      min-height: 48px; }
    .md-toolbar-tools {
      height: 48px;
      max-height: 48px; } }