<mat-nav-list>
    <div *ngFor="let hit of hits; let i = index">
        <mat-list-item *ngIf="hits.length > 1 && hit.story_title && !hit.deleted" style="display: block;">
            <p matLine (click)="goToLink(hit.story_url)">
                <span > {{hit.story_title}}</span>
                <span class="demo-2" style="color: #999;"> - {{hit.author}} - </span>
            </p>

            <span
                style="margin-right: 10%;font-size: 13px;color: #333; white-space:nowrap;">{{(hit.created_at | niceDateFormatPipe) === '1 Hora átras' || '2 Hora átras'? (hit.created_at | date: 'H:mm a') : (hit.created_at | niceDateFormatPipe)}}</span>
            <!-- <span style="margin-right: 10%;font-size: 13px;color: #333;"> {{hit.created_at | date: 'dd/MM/yyyy H:mm'}} </span> -->


            <button mat-icon-button aria-label="Delete" class="btndelete"
                (click)="deleterow(hit.objectID); hits.splice(i, 1)">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
            </button>

            <mat-divider></mat-divider>
        </mat-list-item>
    </div>
</mat-nav-list>

<mat-list-item *ngIf="hits.length == 0">
    <p>
        <span style="font-size: 20px;"> No se encontraron datos</span>
    </p>
</mat-list-item>

<mat-card>
   <!--  <p>
        Total: {{view}}
    </p> -->
</mat-card>